:root {
  --primary-color: #9b7f34;
  --primary-color-rgb: 3,36,45,1;
  --secondary-color: #07a8ff;
  --secondary-color-rgb: 156,188,189,1;
  --tertiary-color: #F4F7FB;
  --tertiary-color-rgb: 244, 247, 251;
}
